html, body {
    flex-direction: column;
    display: flex;
    justify-content: center;  
    align-items: center;  
    height: 100%; 
    background-color: #1e293b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-card {
    background: rgb(15, 37, 58);
    border-radius: 16px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.705);
}

.left-panel {
    position: relative;
    height: 100%;
}

.left-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-panel .overlay {
    position: absolute;
    background: rgba(0, 38, 77, 0.7);
    height: 100%;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel h2, .left-panel p, .correos {
    color: #fffff8;
}

.form-section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section h3 {
    color: #f1f5f9;
    text-align: center;
}

.form-control {
    border-radius: 8px;
    color: #f1f5f9;
    background-color: #1e293b; 
    border: 1px solid #40536e;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.164);
}

.form-control::placeholder {
    color: #94a3b8; 
}

.btn-primary {
    background-color: #384b64;
    color: #ffffff; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.247);
    border: none;
    border-radius: 8px;
    padding: 8px;
    transition: 0.3s ease;
    letter-spacing: 1px;
    width: 50%;
    display: block;
    margin: 30px auto 0 auto;
}

.btn-primary:hover {
    background-color: #242f3f;
}

.alert-danger {
    text-align: center;
}

.correos {
    margin-top: 20px;
    text-align: center;
    opacity: 0.8;
}
